*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Jost', sans-serif;
}
.header{
    max-width: 1100px;
    width: 100%;
    margin:0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 30px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    background-color: crimson;
    color: white;
    padding: 5px 10px;
}
button{
    padding: 10px 30px;
    background-color: crimson;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}
body{
    background-color: lime;
}